<a href="https://colab.research.google.com/github/jmhuer/quantum_dots/blob/main/quantum_dots_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load data from excell

In [42]:
import pandas as pd
excell = pd.ExcelFile("/content/QDots.xlsx")
excell.sheet_names
df = xl.parse("Sheet1")
df.columns = df.columns.map(str)
columns = ["415","445","480", "515", "555", "590", "630", "680", "# emitters λ1 (x1010)", "# emitters λ2 (x1010)"]
df = df[columns]
df.head()

   415   445   480  ...   680  # emitters λ1 (x1010)  # emitters λ2 (x1010)
0  0.0   0.0   0.0  ...   0.0                 0.0000                    0.0
1  9.0  20.0  21.0  ...  24.0                90.3321                    0.0
2  9.0  21.0  22.0  ...  25.0                90.3321                    0.0
3  9.0  21.0  22.0  ...  25.0                90.3321                    0.0
4  9.0  21.0  22.0  ...  25.0                90.3321                    0.0

[5 rows x 10 columns]